*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    color: white;
    background-color: #c69b7c;
    justify-content: center;
    display: flex;
    padding: 30px ;
    border-radius: 50px;

}

.integrantes{
    margin: 10px;
    font-size: 20px;
    list-style:none ;
    font-family: Playfair
   
}


.body_login{
    font-family: Playfair;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}


.login-container {
    background-color: #e7d4d455;
    padding: 20px 30px;
    border-radius: 10px;
    width: 500px;
    height: 60vh;
}


.inicio_sesion{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.form-group {
    margin-bottom: 15px;
}


.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}


.input {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
}


.btn {
    width: 100%;
    padding: 10px;
    background-color: #dbbba6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    
}

.btn:hover {
    background-color:#dbbba6;
}


.registro-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #c69b7c;
    text-decoration: none;
}

.registro-link:hover {
    text-decoration: underline;
}
.bodyindex{
    background-image: url(../img/imgfondo.avif);
}
    
.barradenav{
    display: flex;
    justify-content: flex-end;
    
}
.navegacion{
    color: whitesmoke;
    background-color: #c69b7ce3;
    border-radius: 10px;
    border-color:  #c69b7c;
    font-family: Playfair;
    
}
.logo{
    display: flex;
    justify-content: center;  
}
.titulo{
    font-weight: lighter;
    color:  #c69b7ce5;
    filter: drop-shadow(2px 2px 2px);
    text-align: center;
}
.img1{
   width: 200px;
  
}
.navegador{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    background-color:  #dbbba6;
    height: 50px;
  
}
.link{
    text-decoration: none;
    color: white;
    font-family: Playfair;
    padding: 50px;
    margin: 10px;
}

.frase-main{
    font-family: Playfair Display;
    margin: 20px;
    padding: 10px;
}

.recipeList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    gap: 20px;
    font-family: Playfair;
}

.recipeList article{
    width: 250px;
    border: 2px solid #EEE4E1;
    border-radius: 8px;
    box-shadow: 5px;
}

.recipeList article p{
    margin: 10px;
    font-size: 17px;
}

.recipeList article p a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.recipeList article p a:hover{
    text-decoration: underline;
    color: #C5A38F;
}

.img-recipe{
    width: 250px;
    border-bottom: 2px solid #EEE4E1;
    color: #333;
}

.CargarMas{
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    color: #918C8A;
    border-radius: 5px;
    background: #C0B8B6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.CargarMas:hover{
    background-color: #EEE4E1;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);;
}

.padrebtn{
    display: flex;
    justify-content: center;
}

.body_register {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}



.register-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

.register-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #dbbba6;
}

.form-group {
    margin-bottom: 15px;
}

.labell {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.inputt {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    color: #555;
}

.boton {
    width: 100%;
    padding: 10px;
    background-color:   #dbbba6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color:  #dbbba6;
}


.login-link {
    text-align: center;
    display: block;
    margin-top: 10px;
    color:  #dbbba6;
    text-decoration: none;
    text-decoration: underline;
}

@media (max-width: 420px){
.footer{
    height: 50px;
    border-radius: 20px;
}
.titulo{
    padding: 20px;
}
.tituloprincipal{
    text-align: center;
    padding: 15px;
}
.padrebtn{
    display: flex;
    justify-content: center;
}
.integrantes{
    font-size: 18px;
    margin: 0px;
}
.footer{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.link{
    padding: 0px;
}
.navegador{
    display:flex;
    justify-content: space-between;
    padding: 10px;
}
}

