*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    color: white;
    background-color: rgba(255, 192, 203, 0.693);
    justify-content: center;
    display: flex;
    padding: 30px ;
    border-radius: 50px;

}

.integrantes{
    margin: 10px;
    font-size: 20px;
    list-style:none ;
   
}




.body_login{
    font-family: Arial, sans-serif;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}


.login-container {
    background-color: #e7d4d455;
    padding: 20px 30px;
    border-radius: 10px;
    width: 500px;
    height: 60vh;
}


.inicio_sesion{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.form-group {
    margin-bottom: 15px;
}


.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}


.input {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
}


.btn {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 192, 203, 0.693);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    
}

.btn:hover {
    background-color: rgba(255, 192, 203, 0.693);
}


.registro-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color:rgba(255, 192, 203, 0.693);
    text-decoration: none;
}

.registro-link:hover {
    text-decoration: underline;
}
.bodyindex{
    background-image: url(../img/imgfondo.avif);
}
    
.barradenav{
    display: flex;
    justify-content: flex-end;
    
}
.navegacion{
    color: whitesmoke;
    background-color:palevioletred;
    border-radius: 10px;
    border-color: palevioletred;
    font-family:Arial, Helvetica, sans-serif;
}
.logo{
    display: flex;
    justify-content: center;  
}
.titulo{
    font-weight: lighter;
    color: palevioletred;
    filter: drop-shadow(2px 2px 2px);
    text-align: center;
}
.img1{
   width: 200px;
  
}
.navegador{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: palevioletred;
    height: 50px;
  
}
.link{
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    padding: 50px;
    margin: 10px;
}
