* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.footer {
    color: white;
    background-color: #c69b7c;
    justify-content: center;
    display: flex;
    padding: 30px;
    border-radius: 50px;

}

.integrantes {
    margin: 10px;
    font-size: 20px;
    list-style: none;
    font-family: Josefin Sans;
}


.body_login {
    font-family: Josefin Sans;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 40px;
    background-color: #f8f8f8;

}


.login-container {
    background-color: #e7d4d455;
    padding: 64px 30px;
    border-radius: 10px;
    width: 647px;
    height: 49vh;
}


.inicio_sesion {
    text-align: center;
    margin-bottom: 20px;
    color: #c69b7ce5;
    font-family: Josefin Sans;
}


.form-group {
    margin-bottom: 15px;
}


.label {
    font-family: Josefin Sans;
    display: block;
    margin-bottom: 5px;
    color: #555;
}


.input {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
}


.btn {
    width: 100%;
    padding: 10px;
    font-family: Josefin Sans;
    background-color: #dbbba6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;

}

.btn:hover {
    background-color: #dbbba6;
}


.registro-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #c69b7c;
    text-decoration: none;
    font-family: Josefin Sans;
}

.registro-link:hover {
    text-decoration: underline;
}

.navegador0 {
    display: flex;
    align-items: right;
    justify-content: center;


}


.barradenav {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 10px;

}

.barradenav0 {
    display: flex;
    justify-content: space-between;


}

.logo {
    display: flex;
    justify-content: center;
}

.titulo {
    font-family: Josefin Sans;
    color: #c69b7ce5;
    font-size: 25px;
    margin: 0px;
    margin-bottom: 7px;
}

.subtitulo {
    font-size: 15px;
    color: #555;
    font-family: Josefin Sans;

}

.tituloregistro{
    text-align: center;
    margin-bottom: 20px;
    color: #c69b7ce5;
    font-family: Josefin Sans;
}

.titulo-subtitulo-index {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.img1 {
    width: 120px;

}

.navegador {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;



}

.maincategory{
    background-color: #f8f8f8;
}

.link {
    text-decoration: none;
    color: #555;
    font-family: Josefin Sans;
    padding: 10px;
    margin: 20px;
}

.search-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.search-button {
    padding: 5px 10px;
    font-size: 15px;
    color: #E6BEAE;
}

.frase-main {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background: #c69b7c;
    padding: 20px 40px;
    font-family: Noto Serif;
    margin: 17px;
    padding: 10px;

}

.recipeList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    gap: 20px;
    font-family: Josefin Sans
}

.recipeList article {
    width: 250px;
    border: 2px solid #EEE4E1;
    border-radius: 8px;
    box-shadow: 5px;
}

.recipeList article p {
    margin: 10px;
    font-size: 17px;
}

.recipeList article p a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.recipeList article p a:hover {
    text-decoration: underline;
    color: #C5A38F;
}

.img-recipe {
    width: 246px;
    border-bottom: 2px solid #EEE4E1;
    color: #333;
    border-radius: 7px;
}

.CargarMas {
    margin: 20px;
    padding: 10px;
    font-size: 15px;
    color: #ffffff;
    border-radius: 5px;
    font-family: Josefin Sans;
    background: #c69b7c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: #c69b7c;
}

.CargarMas:hover {
    background-color: #EEE4E1;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
    ;
}

.padrebtn {
    display: flex;
    justify-content: center;
}

.body_register {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Josefin Sans;
    height: 80vh;
    padding: 40px;
    background-color: #f8f8f8;
}




.register-container {

    background-color: #e7d4d455;
    padding: 45px 20px;
    border-radius: 10px;
    width: 647px;
    height: 52vh;


}

.register-form h2 {
    margin-bottom: 21px;
    margin-top: 5px;
    text-align: center;
    color: #dbbba6;
}

.form-group {
    margin-bottom: 15px;
}

.labell {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-family: Josefin Sans;
}

.inputt {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    color: #555;
}
#terminos{
    margin: 10px;
}
.boton {
    width: 100%;
    padding: 10px;
    background-color: #d8c6ba;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: Josefin Sans
}


.login-link {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #c69b7c;
    text-decoration: none;
    font-family: Josefin Sans
}

#nombre-receta {
    margin: 30px;
    font-size: 50px;
    font-family: Josefin Sans;
    color: #c69b7c;

}

#img-receta {
    width: 450px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.info-receta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.preguntas {
    font-size: 16px;
    border-color: #eee;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    width: 65%;
    padding: 6px;
}

.info-receta p {
    margin: 10px;
    padding: 10px;
    background-color: #d0beb3;
    border-radius: 8px;
    text-align: center;
}

.result{
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}

.contenedor_result {
    max-width: 404px;
    box-sizing: border-box;
    margin: 29px auto;
    padding: 34px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-family: Josefin Sans;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.nombre_search {
    font-size: 25px;
    color: #dbbba6;
    font-family: Josefin Sans;
    margin-bottom: 10px;
}


.search_imagen {
    width: 100%; 
    height: auto; 
    border-radius: 8px;
}




.cocina_search {
    font-size: 20px;
    color: #dbbba6;
    margin-bottom: 15px;
}


.search_id {
    margin: 20px;
    padding: 10px;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-family: Josefin Sans;
    background: #c69b7c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: #c69b7c;
}

.error_busqueda {
    font-family: Josefin Sans;
    color: black;
    font-size: 15px;
}

.lista-categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.lista-categorias li {
    max-width: 404px;
    box-sizing: border-box;
    margin: 29px auto;
    padding: 34px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-family: Josefin Sans;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.categoria-nombre {
 
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background: #c69b7c;
    font-family: Noto Serif;
    margin: 17px;
    padding: 10px;
}
.categoria-dificultad{
    color:#c69b7c;
    margin-top: 15px;
}


.categoria-titulo {
    margin: 5px;
    margin-bottom: 15px;
    color:#dbbba6;
}

.categoria-img{
    width: 326px;
    border-radius: 4px;

}

.lista-categorias a {
    text-decoration: none;
    color:#c69b7c;
}

.lista-categorias a:hover {
    color: #e8b19b;
    font-style: initial;
}
.categoria-link:hover{
    color: #c69b7c;
}

.categoriadetalle-link{
    text-decoration: none;
    color: #c69b7c;
    font-size: 20px;
}

.mainn {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    font-family: Josefin Sans;
}

.listacategories {
    padding-bottom: 10px;
    text-align: center;
}

.titulocategorias {
   
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background: #c69b7c;
    padding: 20px 40px;
    font-family: Noto Serif;
    margin: 17px;
    padding: 10px;
}

.itemsCategories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;

}

.categories {
    list-style: none;

}

.categories1 {
    padding: 15px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #e8b19b;
    background-color: #fff;
    border: 2px solid #e8b19b;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories1:hover {
    background-color: #e8b19b;
    color: #fff;
}


.maindetalle {
    padding: 40px;
    background-color: #f8f8f8;
}

.info-receta {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nombre-receta {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #c69b7c;
}

.img-receta {
    width: 600px;
    border-radius: 8px;
    margin-bottom: 20px;
}



.tiempo-receta {
    font-weight: normal;
    color: #c69b7c;
    background-color: #dbbba664;

}

.categoria-receta {
    font-weight: normal;
    color: #c69b7c;
    background-color: #dbbba664;
}
#categoria-receta a{
    text-decoration: none;
    margin: 6px;
    color: #c69b7c;
}

.instrucciones-receta {
    font-family: Josefin Sans;
    font-size: 17px;
    font-weight: normal;
    color: #c69b7c;
    background-color: #dbbba664;

}

.tituloduracion,
.instrucciones {
    color: #c69b7c;
    text-align: center;
    margin: 15px;
}
.mainsearch{
    padding: 20px;
    background-color: #f8f8f8;

}

@media (max-width: 420px) {

    .mainn {
        flex-direction: column;
        margin: 10px;
        padding: 10px;
    }


    .titulocategorias {
        font-size: 25px;
        padding: 15px;
    }


    .listacategories {
        padding: 5px;
    }


    .itemsCategories {
        flex-direction: column;
        margin-left: 0;
        gap: 10px;
        align-items: stretch;
    }


    .categories1 {
        font-size: 14px;
        width: 100%;
        height: auto;
        padding: 10px;
        border-radius: 5px;
    }

    .categories1:hover {
        background-color: #e8b19b;
        color: #fff;
    }


    .maindetalle {
        padding: 20px;
    }

    .footer {
        height: 50px;
        border-radius: 20px;
        text-align: center;
    }

    .titulo {
        padding: 20px;
    }

    .tituloprincipal {
        text-align: center;
        padding: 14px;
    }

    .padrebtn {
        display: flex;
        justify-content: center;
    }

    .integrantes {
        font-size: 15px;
        margin: 0px;

    }

    .footer {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .barradenav0 {
        display: flex;
        flex-direction: column;

    }

    .navegador {
        display: flex;
        flex-direction: column;
        width: 200px;
        text-align: center;
        align-self: center;
    }

    .search-cart {
        margin: 30px;
        justify-content: center;
    }

    .barradenav {
        display: flex;
        justify-content: center;
    }

    .link {
        margin: 50px;
        padding: 5px;
        color: white;
        font-size: 15px;

    }

    .lista {
        
        background-color: #c69b7c;
        width: 400px;
        padding: 2px;
        margin: 5px;
        
    }

    .login-container {
        padding: 30px;
        margin: 15px;
    }

    .body_login {
        height: 400px;
        margin-bottom: 50px;
    }

    .register-container {
        padding: 25px;
        margin: 25px;
    }

    .body_register {
        height: 400px;
        margin-bottom: 50px;
    }

    #img-receta{
        width: 180px;
    }
    #nombre-receta{
        font-size: 30px;
        text-align: center;
    }
    .lista-categorias {
        margin-bottom: 30px;

    }
    .categoria-img{
        width: 45%;
    }

}